USE [master]
GO
/****** Object:  Database [contactBook]    Script Date: 04-05-2022 12:11:12 ******/
CREATE DATABASE [contactBook]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'contactBook', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\contactBook.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'contactBook_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\contactBook_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [contactBook].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [contactBook]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 04-05-2022 12:11:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[ContactName] [varchar](20) NULL,
	[Email] [varchar](20) NULL,
	[Mobile] [varchar](10) NULL,
	[Landline] [varchar](20) NULL,
	[Website] [varchar](30) NULL,
	[ContactAddress] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
