<body>
    <header class="logo">Address Book</header>
    
    <nav class="nav">
      <b>
        <a (click)="onHome()">HOME</a>
        <a (click)="onAdd()">+ADD</a>
      </b>
        <a href="#"><img class="blog-icon" src="../../assets/images/blog-icon.png"/></a>
    </nav>

    <div class="container">
    <div class="contact" >
      <h3>CONTACTS</h3>
      <div class="message" *ngIf="noContact">
        No Contacts Available
      </div>

      <ul class="contacts1" id="holder">
        <li *ngFor="let contact of contacts;let Index=index"
          [class.selected]="contact === selectedContact"
          (click)="onSelect(contact,Index)">
          <div class="contact-name">{{contact.name}}</div>
          <div class="sub-information"><div>{{contact.email}}</div>
          <div>{{contact.mobile}}</div></div>
        </li>
      </ul>
    </div>
    
    <div class="contact-information" id="contact-info" *ngIf="!show">
        <div *ngIf="selectedContact">
            <div class="information-name">
              <b>{{selectedContact.name}}</b>
              <span class="buttons">
              <button (click)="update()"><img class="icon" src="../../assets/images/edit1.jpg">EDIT</button>
              <button (click)="onDelete(selectedContact)"><img class="icon" src="../../assets/images/delete1.png">DELETE</button>
              </span>
            </div>
            <div class="information-style"><span>Email: </span>{{selectedContact.email}}</div>
            <div class="information-style"><span>Mobile: </span>{{selectedContact.mobile}}</div>
            <div class="information-style"><span>Landline: </span>{{selectedContact.landline}}</div>
            <div class="information-style"><span>Website: </span>{{selectedContact.website}}</div>
            <table>
              <tr>
              <div class="information-style"><span>Address: </span></div>
                <td><div class="address-disp information-style">{{selectedContact.address}}</div></td>
              </tr>
            </table>
          </div>
    </div>
    
    <div class="contact-information1" id="edit-form" *ngIf="show">
        <table>
          <tr><td>Name</td></tr>
          <tr><td colspan="2"><input [(ngModel)]="selectedContact.name"/></td></tr>
          <tr><td>Email</td></tr>
          <tr><td colspan="2"><input [(ngModel)]="selectedContact.email"/></td></tr>
          <tr>
            <td>Mobile</td>
            <td>Landline</td>
          </tr>
          <tr>
            <td><input class="contacts" [(ngModel)]="selectedContact.mobile"/></td>
            <td><input class="contacts" [(ngModel)]="selectedContact.landline"/></td>
          </tr>
          <tr><td>Website</td></tr>
          <tr><td colspan="2"><input [(ngModel)]="selectedContact.website"/></td></tr>
          <tr><td>Address</td></tr>
          <tr><td colspan="2"><input class="address-box" [(ngModel)]="selectedContact.address"/></td></tr>
          <tr><td></td><td class="choice-buttons"><button (click)="update()">Save</button></td>
        </table>
    </div>
    
    <div class="add-contact" id="add-form" *ngIf="add">
        <table>
          <tr><td>Name</td></tr>
          <tr><td colspan="2"><input [(ngModel)]="contact.name"/></td></tr>
          <tr><td >Email</td></tr>
          <tr><td colspan="2"><input [(ngModel)]="contact.email"/></td></tr>
          <tr>
            <td>Mobile</td>
            <td>Landline</td>
          </tr>
          <tr>
            <td><input class="contacts" [(ngModel)]="contact.mobile"/></td>
            <td><input class="contacts" [(ngModel)]="contact.landline"/></td>
          </tr>
          <tr><td>Website</td></tr>
          <tr><td colspan="2"><input [(ngModel)]="contact.website"/></td></tr>
          <tr><td>Address</td></tr>
          <tr><td colspan="2"><input class="address-box" [(ngModel)]="contact.address"/></td></tr>
          <tr><td></td><td class="choice-buttons"><button (click)="addContact(contact)">Add</button></td>
        </table>
    </div>
    </div>
    </body>
